body {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#container {
    display: flex;
    gap: 30px;
}

.parent {
    width: 200px;
    height: 200px;
    border: 4px solid darkslategray;
    display: flex;
    gap: 15px;
    padding: 20px;
}

.parent.vertical {
    flex-direction: column;
}

.child {
    width: 40px;
    height: 40px;
    background-color: salmon;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
