

  

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}


div {
  border: 2px solid black;
  margin: 15px;
  padding: 10px;
}

.one {
  background-color: lightcoral;
  width: 100px;
  height: 100px;
}

.two {
  background-color: lightblue;
  width: 150px;
  height: 100px;
  padding: 20px;
}

.three {
  background-color: lightgreen;
  margin: 30px;
}

.four {
  background-color: khaki;
  border: 5px dashed brown;
  padding: 25px;
}

.five {
  background-color: violet;
  margin: 50px;
  padding: 5px;
}


#container {
  width: 300px;
  height: 200px;
  background-color: lightblue;
  padding: 20px;
  border: 5px solid black;
  margin: 30px;
}
