#ninja1{
    background-color: deeppink;
}

#age{
    background-color: yellow;
}

#name{
    background-color: yellow;
}

#grade{
    background-color: yellow;
}

table{
    width: 400px;
}

#top1{
    text-align: center;
}