body {
  font-family: Tahoma;
  background: #f5f5f5;
  color: #222222;
}

header {
  background: #444444;
  color: white;
}

nav a {
  color: white;
  margin-right: 15px;
}

h1, h2 {
  color: #333333;
}

input, select {
  border: 1px solid #888888;
  width: 250px;
}

button {
  background: #444444;
  color: white;
  border: none;
  width: 150px;
  height: 35px;
  cursor: pointer;
}
