body {
  background-color: #f4f4f4;
  text-align: center;
}

h1 {
  color: darkred;
}

.recipe {
  background: white;
  width: 400px;
}


button {
  background-color: darkred;
  color: white;
  border: none;
}
