body {
    background-color: lightyellow;
    color: black;
}


h1 {
    font-size: 36px;
    text-align: center;
    color: orange;
}


ul {
    list-style-type: square;
    list-style-position: inside;
    color: blue;
}

li {
    font-size: 20px;
    color: purple;
}
