body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1ea6b0;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.card {
    width: 320px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
}


.card-header {
    height: 140px;
    background-color: #4fd1dc;
}

.header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.avatar-wrapper {
    width: 100%;
    margin-top: -45px; 
    display: flex;
    justify-content: center;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}


.card-body {
    padding: 20px;
    text-align: center;
}

.card-body h2 {
    margin-top: 10px;
}

.card-body span {
    color: gray;
    font-size: 16px;
}

.location {
    color: gray;
    margin: 10px 0 25px;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stats p {
    margin: 5px 0 0;
    font-size: 12px;
    color: gray;
}
